<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>New Ingredient Form!</h1>
    <form action="/new-ingred" method="post">
        <p>Ingredient Name: <input type="text" name="inName"></p>
        <p>Ingredient Picture url: <input type="text" name="inPic"></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
    <br>
<!--    Left off here, trying to figure out how to handle boolean and collection-->
    <form action="/new-recipe" method="post">
        <p>Recipe Name:<input type="text" name="reName"></p>
        <p>Image Url:<input type="text" name="reImUrl"></p>
<!--        2x boolean, list-->
        <p><input type="text" name=""></p>
        <p><input type="text" name=""></p>
        <p><input type="text" name=""></p>
    </form>
    <form action=""></form>

<!-- Add form for new recipe as well!   -->

</body>
</html>