<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${recipe.getName}">X</h1>

    <!--  Picture,Hashtags,Steps  -->
    <img src="${recipe.getImgUrl}" alt="picture of recipe">
    <div class="tags">
        <ul th:each="hashtag:${recipe.getHashtags}">
            <p th:text="${hashtag.getName}">X</p>
        </ul>
    </div>
    <div class="steps">
        <ul th:each="step:${recipe.getSteps}">
            <h2 th:text="${step}">X</h2>
        </ul>
    </div>
    <div class="comments">
        <ul th:each="comment:${recipe.getComments}">
            <h2 th:text="${comment.getComment}">X</h2>
        </ul>
    </div>
</body>
</html>